@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body{
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Varela Round', sans-serif;
}
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, white, #fca5a5, white); 
    border-radius: 10px;
  }

html{
    scroll-behavior: smooth;
}

#logo{
    font-family: 'Great Vibes', cursive;
}
.exibit{
    /* background-image: url(images/pexels-steven-arenas-620074.jpg); */
    background-size: cover;
    transition: 0.5s;
    background-repeat: no-repeat;
}
#five5{
    background-position: 30% 50%;

}
#two2{
    background-position: 44% 50%;

}

#three3{
    background-position: 70% 50%;

}

#four4{
    background-position: 50% 50%;
    
}
.banner{
    z-index: 1;
}
.check{
    transition: 0.5s;
}
.nav{
    z-index: 111;
}
.__banner{
    position: absolute;
    /* background: rgba(0, 0, 0, 0.2); */
}

#ex{
    object-fit: cover;
}

#one{
    animation: cap1 1s;
}
#two{
    animation: cap2 1s;
}
#two ul{
    text-align: center;
    justify-content: center;
    border: solid 1px black;
}
#three{
    animation: cap3 1s;
}
#four{
    animation: cap4 1s;
    text-align: left;
}
#five{
    animation: cap5 1s;
}
@keyframes cap1 {
    0%{
        transform: translateY(50px);
        opacity: 0.5;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes cap2 {
    0%{
        opacity: 0.5;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes cap3 {
    0%{
        opacity: 0.5;
        transform: translate(-20px, 50px);
    }
    100%{
        transform: translate(0px, 0px);
        opacity: 1;
    }
}
@keyframes cap4 {
    0%{
        opacity: 0.5;
        transform: translate(20px, 50px);
    }
    100%{
        opacity: 1;
        transform: translate(0px,0px);
    }
}
@keyframes cap5 {
    0%{
        opacity: 0.5;
        transform: translateY(50px);
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
.exibit  #two{
    text-align: center;
}
.__marked{
    font-weight: bolder;
}
.cart_indicator{
    transition: 0.5s;
}
.upgrade{
    background-color: red;
    background-image: linear-gradient(45deg,gold,rgb(252, 159, 159),  #ca8a04);
    background-size: 100%;
    /* -webkit-text-stroke: 2px white; */
    /* text-stroke:3px white; */
    /* text-shadow:none; */

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

}

.carousel{
    background-color: #d1d5db;
}
.ticked{
    background-color: #ca8a04;
    transition: 0.5s;
}

.item_container{
    transition: 0.5s;
}


.pop_item:nth-child(even){
    margin-left: 10px;
    margin-right: 10px;
}
.pop_item:last-child{
    margin-right: 0;
}
.golden{
    background-image: url(images/pexels-dids-13023071.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.promotion{
    background-image: url(images/pexels-rafael-barros-17165391.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.promotion_caption{
    background-color: rgba(0, 0, 0, 0.6);
}

input:focus{
    outline: none;
}

.active{
    color:rgb(0, 0, 0);
    transition: 0.5s;
    opacity: 0.5;
}
.carousel_button{
    color:rgb(216, 210, 210);
    opacity: 0.4;
    
}
.nav_slide{
    z-index: 222;
    /* background-color: rgba(0, 0, 0,); */
    overflow-y: scroll;
}
.nav_slide_child::-webkit-scrollbar {
    background: linear-gradient(to bottom, rgb(95, 94, 94), rgb(202, 199, 199), rgb(95, 95, 95)); 
    width: 10px;
    border-radius: 10px;
}
.nav_slide_child::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, gray, rgb(202, 199, 199), gray); 
    border-radius: 10px;
  }



/* NAV ACCORDION STYLE */

.last_accordion{
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}

.last_accordion.show{
    height: auto;
    max-height: 9999px;
    transition:  all 0.5s cubic-bezier(1,0,1,0);
}

.sub_accordion{
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}
.sub_accordion.show{
    height: auto;
    max-height: 9999px;
    transition:  all 0.5s cubic-bezier(1,0,1,0);
}

.accessories{
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}
.accessories.show{
    height: auto;
    max-height: 9999px;
    transition:  all 0.5s cubic-bezier(1,0,1,0);
}
#cart_button{
    transition: 0.5s;
}
#message{
    z-index: 9999;
}
#cart_container{
    z-index: 99991;
    background-color: rgba(0, 0, 0, 0.4);
}
#item_num{
    border:solid 1px black;
}


#cat_one{
    text-align: right;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;

}
#cat_two{
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#cat_three{
    background-repeat: no-repeat;
    background-size: 170% 100%;
    text-align: center;
    color: white;
}

.explore_image:last-child{
    margin-right: 0;
}

.subscribe{
    background-image: url(images/pexels-megapixelstock-178341.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.subscribe_input{
    background-color: transparent;
}

input::placeholder{
    color:white;
    /* opacity: 1; */
    /* font-weight:; */
}

input:focus{
    background-color: white;
    color: black;
    font-weight: bold;
}

input:-ms-input-placeholder{
    color: white;
}
input::-ms-input-placeholder{
    color: white;
}

#navMenuContainer::-webkit-scrollbar{
    display: none;
}

#feed_back{
    background-color: rgba(0, 0, 0, 0.4);
}

/* https://jewelry-git-master-xoloyinks.vercel.app/ */