@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body{
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Varela Round', sans-serif;
}

#logo{
    font-family: 'Great Vibes', cursive;
}
.exibit{
    position: absolute;
    background-image: url(images/pexels-nataliya-vaitkevich-8100402.jpg);
    background-size: cover;
    z-index: 0;
}
.banner{
    z-index: 1;
}
.nav{
    z-index: 111;
}
.__banner{
    /* background: rgba(0, 0, 0, 0.6); */
}

#ex{
    object-fit: cover;
}
.__marked{
    font-weight: bolder;
}

.upgrade{
    color: transparent;
    -webkit-text-stroke: 2px black;
    text-stroke:3px white;
    text-shadow:none;
}

.carousel{
    background-color: #d1d5db;
}
.ticked{
    background-color: #ca8a04;
    transition: 0.5s;
}

.item_container{
    transition: 0.5s;
}

.pop_item:nth-child(even){
    margin-left: 10px;
    margin-right: 10px;
}
.pop_item:last-child{
    margin-right: 0;
}
.golden{
    background-image: url(images/pexels-dids-1302307.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.promotion{
    background-image: url(images/pexels-rafael-barros-1716539.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.promotion_caption{
    background-color: rgba(0, 0, 0, 0.6);
}

input:focus{
    outline: none;
}

/* https://jewelry-git-master-xoloyinks.vercel.app/ */