@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moirai+One&display=swap');
body{
    width: 100vw;
    overflow-x: hidden;
    /* background-color: black; */
    font-family: 'Varela Round', sans-serif;
}
/* body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, white, #fca5a5, white); 
    border-radius: 10px;
  } */

html{
    scroll-behavior: smooth;
}

#logo{
    font-family: 'Moirai One', cursive;
}
.exibit{
    /* background-image: url(images/pexels-steven-arenas-620074.jpg); */
    background-size: cover;
    transition: 0.5s;
    background-repeat: no-repeat;
}
#five5{
    background-position: 50% 50%;

}
#one1{
    background-position: 30% 100%;
}
#two2{
    background-position: 44% 50%;

}

#three3{
    background-position: 70% 50%;

}
#thumb{
    transition: 0.5s;
}

#tr_2{
    display: none;
}
#exp img:hover{
    transition: 0.5s;
}
#tr_1:hover + #tr_2{
    display: block;
    transition: 0.5s;
}

.exp_2{
    height: 175px;
}

#four4{
    background-position: 50% 50%;
    
}

@media screen and (min-width:1024px){
    #one1{
        background-position: 50% 40%;
    }
    #two2{
        background-position: 0% 45%;
    }
    #three3{
        background-position: 0% 80%;
    }
    #four4{
        background-position: 0% 10%;
    }
    #five5{
        background-position: 0% 70%;
    }
}
.banner{
    z-index: 5;
    background-color: white;
}
.check{
    transition: 0.5s;
    z-index: ;
}
#exp_1{
    animation: exp_1 1s;
}
#exp_2{
    animation: exp_2 1s;

}
#exp_3{
    animation: exp_3 1s;

}
#exp_4{
    animation: exp_4 1s;

}
@keyframes exp_1 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}
@keyframes exp_2 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}
@keyframes exp_3 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}
@keyframes exp_4 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}

#content_1{
    animation: content_1 1s;
}
#content_2{
    animation: content_2 1s;
}
#content_3{
    animation: content_3 1s;
}
#content_4{
    animation: content_4 1s;
}
#content_5{
    animation: content_5 1s;
}

@keyframes content_1 {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
        
    }
    
}
@keyframes content_2 {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
        
    }
    
    
}
@keyframes content_3 {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
        
    }
    
    
}
@keyframes content_4 {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
        
    }
    
    
}
@keyframes content_5 {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
        
    }
    
    
}


.direction{
    z-index: 3;
}
#message{
    z-index: 111111;
}
.d{
    z-index: 0000;
}
.nav{
    z-index: 111;
}
.__banner{
    position: absolute;
    /* background: rgba(0, 0, 0, 0.2); */
}

#ex{
    object-fit: cover;
}

#one{
    animation: cap1 1s;
}
#two{
    animation: cap2 1s;
}
#two ul{
    text-align: center;
    justify-content: center;
    border: solid 1px black;
}
#three{
    animation: cap3 1s;
}
#four{
    animation: cap4 1s;
    text-align: left;
}
#five{
    animation: cap5 1s;
}
@keyframes cap1 {
    0%{
        transform: translateY(50px);
        opacity: 0.5;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes cap2 {
    0%{
        opacity: 0.5;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes cap3 {
    0%{
        opacity: 0.5;
        transform: translate(-20px, 50px);
    }
    100%{
        transform: translate(0px, 0px);
        opacity: 1;
    }
}
@keyframes cap4 {
    0%{
        opacity: 0.5;
        transform: translate(20px, 50px);
    }
    100%{
        opacity: 1;
        transform: translate(0px,0px);
    }
}
@keyframes cap5 {
    0%{
        opacity: 0.5;
        transform: translateY(50px);
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
.exibit  #two{
    text-align: center;
}
.__marked{
    font-weight: bolder;
}
.cart_indicator{
    transition: 0.5s;
}
.upgrade{
    background-color: red;
    background-image: linear-gradient(45deg,gold,rgb(252, 159, 159),  #ca8a04);
    background-size: 100%;
    /* -webkit-text-stroke: 2px white; */
    /* text-stroke:3px white; */
    /* text-shadow:none; */

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    
}

.carousel{
    background-color: #d1d5db;
    -moz-text-fill-color: transparent;
}
.ticked{
    background-color: #ca8a04;
    transition: 0.5s;
}

.item_container{
    transition: 0.5s;
}


.pop_item:nth-child(even){
    margin-left: 10px;
    margin-right: 10px;
}
.pop_item:last-child{
    margin-right: 0;
}

@media screen and (min-width:1024px) {
    .pop_item:nth-child(even){
        margin-left: 20px;
        margin-right: 20px;
    }
}
.golden{
    background-image: url(images/pexels-dids-13023071.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.promotion{
    background-image: url(images/pexels-leah-kelley-691046.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.promotion_caption{
    background-color: rgba(0, 123, 255, 0.6);
}

input:focus{
    outline: none;
}

.active{
    color:rgb(0, 0, 0);
    transition: 0.5s;
    opacity: 0.5;
}
.carousel_button{
    color:rgb(255, 255, 255);
    /* opacity: 0.4; */
    
}
.nav_slide{
    z-index: 222;
    /* background-color: rgba(0, 0, 0,); */
    overflow-y: scroll;
}
.nav_slide_child::-webkit-scrollbar {
    background: linear-gradient(to bottom, rgb(95, 94, 94), rgb(202, 199, 199), rgb(95, 95, 95)); 
    width: 10px;
    border-radius: 10px;
}
.nav_slide_child::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, gray, rgb(202, 199, 199), gray); 
    border-radius: 10px;
  }



/* NAV ACCORDION STYLE */

.last_accordion{
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}

.last_accordion.show{
    height: auto;
    max-height: 9999px;
    transition:  all 0.5s cubic-bezier(1,0,1,0);
}

.sub_accordion{
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}
.sub_accordion.show{
    height: auto;
    max-height: 9999px;
    transition:  all 0.5s cubic-bezier(1,0,1,0);
}

.accessories{
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}
.accessories.show{
    height: auto;
    max-height: 9999px;
    transition:  all 0.5s cubic-bezier(1,0,1,0);
}
#cart_button{
    transition: 0.5s;
}
#message{
    z-index: 9999;
}
#cart_container{
    z-index: 99991;
    background-color: rgba(0, 0, 50, 0.4);
}

#item_num{
    border:solid 1px black;
}

#cat_one{
    text-align: right;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;

}
#cat_two{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
}

#cat_three{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* text-align: center; */
    color: black;
    transition: 50s;
}
#cat_three:hover{
    transition: 50s;
    animation: beauty 90s ;
}
#cat_one:hover{
    transition: 50s;
    animation: beauty 90s ;
}
#cat_two:hover{
    transition: 50s;
    animation: beauty 90s ;
}
@keyframes beauty {
    0%{
        background-size: 100% 100%;
    }
    50%{
        background-size: 200% 200%;
    }
    100%{
        background-size: 100% 100%;
    }
}

.explore_image:last-child{
    margin-right: 0;
}

.subscribe{
    background-image: url(images/pexels-git-stephen-gitau-1670723.jpg);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: 100% 150%;
}

.subscribe_input{
    background-color: transparent;
}

input::placeholder{
    color:white;
    /* opacity: 1; */
    /* font-weight:; */
}

input:focus{
    background-color: white;
    color: black;
    font-weight: bold;
}

input:-ms-input-placeholder{
    color: white;
}
input::-ms-input-placeholder{
    color: white;
}

#navMenuContainer::-webkit-scrollbar{
    display: none;
}

#feed_back{
    background-color: rgba(0, 0, 0, 0.4);
}

#carousel_control::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
#carousel_control::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, white, #fcc8c8, white); 
    border-radius: 10px;
}

/* https://jewelry-git-master-xoloyinks.vercel.app/ */