@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body{
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Varela Round', sans-serif;
}

#logo{
    font-family: 'Great Vibes', cursive;
}
.exibit{
    /* background-image: url(images/pexels-steven-arenas-620074.jpg); */
    background-size: cover;
    background-position: 70% 50%;
    background-repeat: no-repeat;
}
.banner{
    z-index: 1;
}
.nav{
    z-index: 111;
}
.__banner{
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
}

#ex{
    object-fit: cover;
}
.__marked{
    font-weight: bolder;
}

.upgrade{
    background-color: red;
    background-image: linear-gradient(45deg,gold,rgb(252, 159, 159),  #ca8a04);
    background-size: 100%;
    /* -webkit-text-stroke: 2px white; */
    /* text-stroke:3px white; */
    /* text-shadow:none; */

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

}

.carousel{
    background-color: #d1d5db;
}
.ticked{
    background-color: #ca8a04;
    transition: 0.5s;
}

.item_container{
    transition: 0.5s;
}

.pop_item:nth-child(even){
    margin-left: 10px;
    margin-right: 10px;
}
.pop_item:last-child{
    margin-right: 0;
}
.golden{
    background-image: url(images/pexels-dids-1302307.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.promotion{
    background-image: url(images/pexels-rafael-barros-1716539.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.promotion_caption{
    background-color: rgba(0, 0, 0, 0.6);
}

input:focus{
    outline: none;
}

/* https://jewelry-git-master-xoloyinks.vercel.app/ */